WebContent/wsdl/countryimplement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CountryImplementService" targetNamespace="http://service.webservice.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.webservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://service.webservice.com/" schemaLocation="countryimplement_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="addCountry">
    <wsdl:part name="parameters" element="tns:addCountry">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPolitician">
    <wsdl:part name="parameters" element="tns:addPolitician">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCountryResponse">
    <wsdl:part name="parameters" element="tns:addCountryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPoliticianResponse">
    <wsdl:part name="parameters" element="tns:addPoliticianResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPoliticianByCountry">
    <wsdl:part name="parameters" element="tns:getPoliticianByCountry">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPoliticianByCountryResponse">
    <wsdl:part name="parameters" element="tns:getPoliticianByCountryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CountryInterface">
    <wsdl:operation name="getPoliticianByCountry">
      <wsdl:input name="getPoliticianByCountry" message="tns:getPoliticianByCountry">
    </wsdl:input>
      <wsdl:output name="getPoliticianByCountryResponse" message="tns:getPoliticianByCountryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCountry">
      <wsdl:input name="addCountry" message="tns:addCountry">
    </wsdl:input>
      <wsdl:output name="addCountryResponse" message="tns:addCountryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPolitician">
      <wsdl:input name="addPolitician" message="tns:addPolitician">
    </wsdl:input>
      <wsdl:output name="addPoliticianResponse" message="tns:addPoliticianResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CountryImplementServiceSoapBinding" type="tns:CountryInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPoliticianByCountry">
      <soap:operation soapAction="urn:GetPoliticianByCountry" style="document"/>
      <wsdl:input name="getPoliticianByCountry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPoliticianByCountryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCountry">
      <soap:operation soapAction="urn:AddCountry" style="document"/>
      <wsdl:input name="addCountry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCountryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPolitician">
      <soap:operation soapAction="urn:AddPolitician" style="document"/>
      <wsdl:input name="addPolitician">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPoliticianResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CountryImplementService">
    <wsdl:port name="CountryImplementPort" binding="tns:CountryImplementServiceSoapBinding">
      <soap:address location="http://localhost:8080/dmServiceWS/services/CountryImplementPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
